USE [master]
GO
/****** Object:  Database [ErronkaUno_2]    Script Date: 11/19/2021 12:18:05 PM ******/
CREATE DATABASE [ErronkaUno_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ErronkaUno_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ErronkaUno_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ErronkaUno_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ErronkaUno_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ErronkaUno_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ErronkaUno_2]
GO
/****** Object:  Table [dbo].[Bezeroak]    Script Date: 11/19/2021 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bezeroak](
	[Id] [int] NOT NULL,
	[Izena] [varchar](255) NULL,
	[Emaila] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Erosketak]    Script Date: 11/19/2021 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Erosketak](
	[Id] [int] NOT NULL,
	[Erreferentzia] [varchar](255) NULL,
	[BezeroIdHornitzailea] [int] NULL,
	[BezeroIdEroslea] [int] NULL,
	[ProduktuId] [int] NULL,
	[Kopurua] [float] NULL,
	[Guztira] [float] NULL,
	[Egoera] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fakturak]    Script Date: 11/19/2021 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fakturak](
	[Id] [int] NOT NULL,
	[Izena] [varchar](255) NULL,
	[Data] [varchar](255) NULL,
	[BezeroIdHornitzailea] [int] NULL,
	[Bez] [float] NULL,
	[Guztira] [float] NULL,
	[Egoera] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produktuak]    Script Date: 11/19/2021 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produktuak](
	[Id] [int] NOT NULL,
	[Izena] [varchar](255) NULL,
	[Deskripzioa] [varchar](255) NULL,
	[Prezioa] [float] NULL,
	[Bolumena] [float] NULL,
	[Pisua] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salmentak]    Script Date: 11/19/2021 12:18:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salmentak](
	[Id] [int] NOT NULL,
	[Zenbakia] [varchar](255) NULL,
	[Data] [varchar](255) NULL,
	[BezeroIdEroslea] [int] NULL,
	[BezeroIdKomertzial] [int] NULL,
	[ProduktuId] [int] NULL,
	[Kopurua] [int] NULL,
	[Guztira] [int] NULL,
	[Egoera] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Erosketak]  WITH CHECK ADD FOREIGN KEY([BezeroIdHornitzailea])
REFERENCES [dbo].[Bezeroak] ([Id])
GO
ALTER TABLE [dbo].[Erosketak]  WITH CHECK ADD FOREIGN KEY([BezeroIdEroslea])
REFERENCES [dbo].[Bezeroak] ([Id])
GO
ALTER TABLE [dbo].[Erosketak]  WITH CHECK ADD FOREIGN KEY([ProduktuId])
REFERENCES [dbo].[Produktuak] ([Id])
GO
ALTER TABLE [dbo].[Fakturak]  WITH CHECK ADD FOREIGN KEY([BezeroIdHornitzailea])
REFERENCES [dbo].[Bezeroak] ([Id])
GO
ALTER TABLE [dbo].[Salmentak]  WITH CHECK ADD FOREIGN KEY([BezeroIdEroslea])
REFERENCES [dbo].[Bezeroak] ([Id])
GO
ALTER TABLE [dbo].[Salmentak]  WITH CHECK ADD FOREIGN KEY([BezeroIdKomertzial])
REFERENCES [dbo].[Bezeroak] ([Id])
GO
ALTER TABLE [dbo].[Salmentak]  WITH CHECK ADD FOREIGN KEY([ProduktuId])
REFERENCES [dbo].[Produktuak] ([Id])
GO
USE [master]
GO
